@import '../colours';
@import '../units';

*, *::before, *::after {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    
    background: $lightGrey;
}

ul, ol {
    margin: 0 0 $twoUnits 0;
    padding: 0 0 0 $twoUnits;
}

ol ol,
ol ul,
ul ol,
ul ul {
    margin-bottom: 0;
}

img {
    width: 100%;
    height: auto;
}

hr {
    width: 75%;
    height: 1px;
    margin: $twoUnits auto;
    border: 0;
    box-sizing: border-box;
    
    background: lighten($featuredColour, 40%);
}

table {
    width: 100%;
    border: 1px solid $darkGrey;
    margin-bottom: $twoUnits;
    
    border-collapse: collapse;
    
    font-size: 80%;
}

th, td {
    border: 1px solid $darkGrey;
    padding: $oneUnit;
}
