@import '../colours';
@import '../units';

*, *::before, *::after {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    
    background: $lightGrey;
}

ul, ol {
    margin: 0 0 $twoUnits 0;
    padding: 0 0 0 $twoUnits;
}

ol ol,
ol ul,
ul ol,
ul ul {
    margin-bottom: 0;
}

img {
    width: 100%;
    height: auto;
}
