// Colours, these variable should only be used to define named variable colours
$black: #2D3142;
$darkGrey: #BFC0C0;
$lightGrey: #f8f8f8;
$white: #ffffff;

$blue: rgb(58, 104, 184);


$featuredColour: $blue;
