@import "./units";
@import "./colours";

.banner {
    padding-bottom: $oneUnit * 15;
    margin-bottom: -$oneUnit * 10;
    
    color: $white;
    text-align: center;
    
    background: $featuredColour;
}

.banner__inner {
    max-width: 750px;
    padding: 0 $threeUnits;
    margin: 0 auto;
}

.banner__title {
    margin: 0;
    
    font-size: 3em;
}

.banner__subtitle {
    margin: 0;
}
