@import './units';

.content :last-child {
    margin-bottom: 0;
}

.content h1,
.content h2 {
    border-bottom: 1px solid #eaecef;
    padding-bottom: $oneUnit;
    margin-bottom: $oneUnit;
}

.content li {
    margin-bottom: $oneUnit / 2;
}
