@import 'units';
@import 'colours';

.postSummary {
    color: $black;
}

.postSummary__title {
    margin-bottom: 0;
}

.postSummary__date {
    font-size: 80%;
    margin-bottom: $oneUnit;
    display: block;
}

.postSummary__text {
    margin-bottom: $threeUnits;
}
