@import 'units';
@import 'colours';

.postList {
    margin: 0;
    
    list-style: none;
}

.postList__post {
    margin-bottom: $threeUnits;
    padding-bottom: $threeUnits;
    position: relative;
}

.postList__post::after {
    content: '';
    
    width: 80%;
    height: 1px;
    
    background: lighten($featuredColour, 40%);
    
    position: absolute;
    bottom: -2px;
    left: 50%;
    
    transform: translate(-50%, 0);
}

.postList__post:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

.postList__post:last-child::after {
    display: none;
}
