@import "units";
@import "colours";

.socialMedia {
    padding: 0;
    margin: 0;
    
    list-style: none;
    
    line-height: 0;
    text-align: right;
}

.socialMedia li {
    display: inline-block;
    vertical-align: middle;
    margin-left: $oneUnit;
}
