<ol class="pagination">
    {% if paginator.next_page %}
        <li class="pagination__item">
            <a href="/page{{paginator.next_page}}">Older articles</a>
        </li>
    {% endif %}

    {% if paginator.previous_page %}
        <li class="layout__pagination">
            {% if paginator.previous_page == 1 %}
                <a href="/">Newer articles</a>
            {% else %}
                <a href="/page{{paginator.previous_page}}">Newer articles</a>
            {% endif %}
        </li>
    {% endif %}
</ol>
