---
---

@import 'units';
@import 'colours';

.posts {
    margin: 0;
    
    list-style: none;
}

.posts li {
    margin-bottom: $threeUnits;
    border-bottom: 1px solid $black;
}

.posts li:last-child {
    margin-bottom: 0;
    border-bottom: 0;
}
