.timeline {
    padding: 50px 0;

    position: relative;

    overflow: hidden;
}

.timeline--dark {
    background: #243f42;
}

.timeline__title {
    padding-left: 60px;
    margin: 0 auto 50px auto;
    max-width: 750px;
}

.timeline--dark .timeline__title {
    color: #fff;
}

.timeline__content {
    max-width: 750px;
    margin: 0 auto;

    position: relative;
}

.timeline__content::after {
    content: "";
    width: 6px;
    height: 250%;

    background: #4284ee;

    position: absolute;
    top: -150px;
    bottom: 0;
    left: 23px;
}
