.hobby {
    max-width: 750px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;

    @media screen and (min-width: 500px) {
        flex-wrap: wrap;
        flex-direction: row;
    }
}

.hobby:nth-child(odd) .hobby__image {
    @media screen and (min-width: 500px) {
        order: 1;

        margin-left: 20px;
        margin-right: 0;
    }
}

.hobby:nth-child(even) .hobby__title {
    @media screen and (min-width: 500px) {
        margin-left: 170px;
    }
}

.hobby:last-child {
    margin-bottom: 0;
}

.hobby__title {
    min-width: 100%;

    text-align: center;

    @media screen and (min-width: 500px) {
        text-align: left;
    }
}

.hobby__image {
    width: 150px;
    min-width: 150px;
    margin-bottom: 20px;

    @media screen and (min-width: 500px) {
        margin-bottom: 0;
        margin-right: 20px;
    }
}

.hobby__image img {
    width: 100%;
    height: auto;
}

.hobby__content {
    width: 100%;

    flex-shrink: 1;
    flex-grow: 1;

    @media screen and (min-width: 500px) {
        width: 60%;
    }
}

.hobby li {
    display: inline;
    list-style: none;
    margin-left: 5px;
}

.hobby li:first-child {
    margin-left: 0;
}

.hobby li::after {
    content: ",";
}

.hobby li:last-child::after {
    content: ".";
}
