.contentBlock {
    width: 100%;
    max-width: 750px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;

    @media screen and (min-width: 500px) {
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
    }
}

.contentBlock:last-child {
    margin-bottom: 0;
}

.contentBlock__title {
    width: 100%;

    text-align: center;

    @media screen and (min-width: 500px) {
        padding-left: 170px;
        text-align: left;
    }
}

.contentBlock--imageRight .contentBlock__title {
    @media screen and (min-width: 500px) {
        padding-left: 0;
    }
}

.contentBlock__image {
    width: 150px;
    min-width: 150px;
    margin-bottom: 20px;

    @media screen and (min-width: 500px) {
        margin-bottom: 0;
        margin-right: 20px;
    }
}

.contentBlock--imageRight .contentBlock__image {
    @media screen and (min-width: 500px) {
        order: 1;

        margin-left: 20px;
        margin-right: 0;
    }
}

.contentBlock__content {
    width: 100%;

    flex-shrink: 1;
    flex-grow: 1;

    @media screen and (min-width: 500px) {
        width: 60%;
    }
}
