.contentBlock {
    width: 100%;
    max-width: 750px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;

    @media screen and (min-width: 500px) {
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
    }
}

.contentBlock:last-child {
    margin-bottom: 0;
}

.contentBlock__title {
    width: 100%;

    margin-bottom: 20px;
}

.contentBlock__image {
    width: 100%;
    margin-bottom: 20px;

    text-align: center;
}

.contentBlock img {
    width: auto;
    max-height: 400px;
    max-width: 100%;
}

.contentBlock__image--border img {
    border: 5px solid white;
    box-shadow: 0 0 3px 0px #b8b8b8;
}

.contentBlock__content {
    width: 100%;
}

// Styles for when the image is on the left
.contentBlock--imageLeft .contentBlock__title {
    @media screen and (min-width: 500px) {
        padding-left: calc(30% + 20px);

        order: 1;
    }
}

.contentBlock--imageLeft .contentBlock__image {
    @media screen and (min-width: 500px) {
        width: 30%;

        order: 2;
    }
}

.contentBlock--imageLeft .contentBlock__content {
    @media screen and (min-width: 500px) {
        width: 70%;
        padding-left: 20px;

        order: 3;
    }
}

// Styles for when the image is on the right
.contentBlock--imageRight .contentBlock__title {
    @media screen and (min-width: 500px) {
        order: 1;
    }
}

.contentBlock--imageRight .contentBlock__image {
    @media screen and (min-width: 500px) {
        width: 30%;

        order: 3;
    }
}

.contentBlock--imageRight .contentBlock__content {
    @media screen and (min-width: 500px) {
        width: 70%;
        padding-right: 20px;

        order: 2;
    }
}
